<section>

    <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col">

                <p><span class="h2">Моята поръчка </span></p>



                <div class="card mb-4">

                    <div class="card-body p-4">



                        <div class="row align-items-center">

                            <div class="col-md-2 text-center">

                                <img src=https://assets.kulinaria.bg/attachments/pictures-images/0000/1700/MAIN-ovcharska-salata.jpg?1431937163
                                     class="img-fluid" alt="Generic placeholder image">

                            </div>

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="text-center">

                                    <p class="text-muted" style="margin-bottom: 0px;">Име</p>

                                    <p>Овчарска салата</p>

                                </div>

                            </div>

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="text-center">

                                    <p class="text-muted" style="margin-bottom: 0px;">Размер</p>

                                    <p>400гр.</p>

                                </div>

                            </div>

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="text-center">

                                    <p class="text-muted" style="margin-bottom: 0px;">Калории</p>

                                    <p>400kcal</p>

                                </div>

                            </div>

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="text-center">

                                    <p class="text-muted" style="margin-bottom: 0px;">Количество</p>

                                    <div class="input-group mb-3">

                                        <div class="input-group-prepend">

                                            <button onclick="minus(event)" id="minus" class="btn btn-outline-secondary minus-btn" type="button">

                                                <svg xmlns=http://www.w3.org/2000/svg width="12" height="12" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">

                                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />

                                                </svg>

                                            </button>

                                        </div>

                                        <input id="input" value="0" style="width:35px" type="text" class="form-control" placeholder="">

                                        <div class="input-group-append">

                                            <button onclick="plus(event)" id="plus" class="btn btn-outline-secondary add-btn" type="button">

                                                <svg xmlns=http://www.w3.org/2000/svg width="12" height="12" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">

                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />

                                                </svg>

                                            </button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="text-center">

                                    <p class="text-muted" style="margin-bottom: 0px;">Цена</p>

                                    <p>10.90лв</p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="card mb-5">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-10">

                                <div>

                                    <label class="form-label">Моля изберете маса!</label>

                                    <select class="form-control">
                                    </select>

                                    <span class="text-danger"></span>

                                </div>





                            </div>

                            <div class="col-sm-2">

                                <div class="float-end">



                                    <p class="mb-0 d-flex align-items-center">

                                        <span class="small text-muted me-2">Обща цена</span> <span class="lead fw-normal">10.99лв</span>

                                    </p>

                                    <div class="d-flex justify-content-end">

                                        <button type="button" class="btn btn-success btn-lg me-2">Поръчай</button>

                                    </div>

                                </div>





                            </div>

                        </div>



                        <div class="card-body p-4">
                        </div>

                    </div>











                </div>

            </div>

        </div>
       </div>



</section>
<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />