@using OnlineRestaurantMenu.Models.Waiter;


@model IEnumerable<WaiterActiveOrderModel>
@{
    ViewData["Title"] = "";
}


<div>

<table>

      <thead>

        <tr>

          <th>#</th>

          <th>Продукти</th>

          <th>Извикай сервитьор</th>

          <th>Статус</th>

        </tr>

      <thead>

      <tbody>
          @foreach (var item in Model)
          {

                    

            <tr>

           <td>1</td>

         

          <td>
             <ul class="list-unstyled">
          @foreach (var pr in item.Products)
           {
                               
                <li>@pr.Name</li>
            }
          </ul>
          </td>
              



      



          <td>@item.ComoOnWaiter</td>


          <td>

            <div style="border: 2px solid green;border-radius: 25px;background-color: green; text-align:center; color:white">

              @item.OrderStatus

            </div>
            </td>
            </tr>
            }

      </tbody>

    </table>





</div>



    <blockquote> Responsive Table </blockquote>



<link rel="stylesheet" href="~/css/Waiter.css" charset='utf-8' asp-append-version="true" />