<div>

<table>

      <thead>

        <tr>

          <th>#</th>

          <th>Потребител</th>

          <th>Напитки</th>

          <th>Ястия</th>

          <th>Други</th>

          <th>Извикай сервитьор</th>

          <th>Сметка</th>

          <th>Статус</th>

        </tr>

      <thead>

      <tbody>

        <tr>

           <td>1</td>

          <td>Павел Иванчев</td>

          <td>

          <ul class="list-unstyled">

                <li>Кока-кола</li>

                <li>Фанта-портокал</li>

                <li>Фанта-лимон</li>

                <li>Сок праскова</li>

            </ul>

          </td>

          <td>

          <ul class="list-unstyled">

                <li>Овчарска салата</li>

                <li>Салата цезар</li>

                <li>Боб</li>

            </ul>

          </td>

           <td>



           </td>



          <td>НЕ</td>

          <td>НЕ</td>

          <td>

            <div style="border: 2px solid green;border-radius: 25px;background-color: green; text-align:center; color:white">

              Отворена

            </div>

      </tbody>

    </table>





</div>



    <blockquote> Responsive Table </blockquote>



<link rel="stylesheet" href="~/css/Waiter.css" charset='utf-8' asp-append-version="true" />