<form>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Категория напитка</label> 
    <div class="col-8">
      <select id="" name="" class="form-control" required="required"></select>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Подкатегория напитка</label> 
    <div class="col-8">
      <select id="" name="" class="form-control" required="required"></select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label" for="">Име</label> 
    <div class="col-8">
      <input id="" name="" placeholder="Кока-кола" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Text Area</label> 
    <div class="col-8">
      <textarea id="" name="" cols="40" rows="6" required="required" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Снимка</label> 
    <div class="col-8">
      <input id="" name="" type="text" required="required" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Цена</label> 
    <div class="col-8">
      <input id="" name="" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-4 col-form-label">Калории</label> 
    <div class="col-8">
      <input id="" name="" type="text" class="form-control" required="required">
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>