<div>
   <div class="p-5  bg-image" style="
      background-image: url('https://i.postimg.cc/9XLYf0xf/pexels-ella-olsson-1640777.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-end-end-radius: 80px;
      border-end-start-radius:80px;
      position: relative;
      height: 380px;"></div>
   <div class="text-center mb-2">
      <h1 class="text-black">Меню</h1>
      <button class="btn btn-primary">Храни</button>
      <button class="btn btn-primary">Напитки</button>
   </div>
   <div class="input-group px-5">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-primary">search</button>
   </div>
</div>