<div>
   <div class="p-5  bg-image" style="
      background-image: url('https://i.postimg.cc/9XLYf0xf/pexels-ella-olsson-1640777.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-end-end-radius: 80px;
      border-end-start-radius:80px;
      position: relative;
      height: 380px;"></div>
   <div class="text-center mb-2">
      <h1 class="text-black">Меню</h1>

        <div class="d-flex justify-content-center">
            <a class="nav-link btn btn-primary" style="color:white; margin-right:10px" asp-controller="Menu" asp-action="FoodsTypes">Храни</a>
            <a class="nav-link btn btn-primary" style="color:white" asp-controller="Menu" asp-action="DrinksTypes">Напитки</a>
        </div>
     
   </div>
  
</div>